<section id="blog" class="flex flex-col items-center mt-5 gap-12">
  <h1 class="dark:text-white text-3xl font-bold mt-8">Blog posts</h1>
  {% for (metadata, postinfo) in posts %}
  <a href="/blog/{{metadata.filename}}">
    <div
      class="flex flex-col cursor-pointer justify-evenly bg-white dark:bg-orange-100 p-8 drop-shadow rounded-lg"
    >
      <div class="relative">
        <p class="dark:bg-orange-100 text-lg font-bold">{{metadata.title}}</p>
        <span class="absolute right-0 font-bold top-0"
          >views: {{postinfo.views}}</span
        >
        <p class="dark:bg-orange-100 text-sm mb-2 text-slate-700">
          {{metadata.subtitle}}
        </p>
        <div>
          {% for tag in metadata.tags %}
          <span
            class="text-white text-xs lowercase px-1 py-0.5 rounded-full bg-orange-800 dark:text-white border border-orange-800"
            >{{tag}}</span
          >
          {% endfor %}
        </div>
      </div>

      <div class="mt-6">{{ metadata.description }}</div>
    </div>
  </a>

  {% endfor %}
</section>
