{% extends "root.html" %}

{% block title %}
{{metadata.title}}
{% endblock title %}

{% block head %}
<meta property="title" content="{{metadata.title}}" />
<meta property="description" content="{{metadata.description}}" />
<meta name="keywords" content="{{metadata.tags.join(",")}}">

{% match metadata.image_preview %}
  {% when Some with (val) %}
  <meta property="og:image:secure_url" content="{{ val }}">
  {% when None %}
{% endmatch %}

{% endblock %}

{% block main %}
<div class="markdown">{{content|safe }}</div>

  {% if similar_posts_metadata.len() > 0 %}
  <hr class="my-14 border-sky-900 dark:border-white">
  <div>
    <h2 class="dark:text-white text-4xl text-center font-semibold" >Similar posts</h2>
    {% for (metadata, postinfo) in similar_posts_metadata %}
    {% include "blogcard.html" %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
