<header
  class="mx-auto flex text-white font-semibold items-center justify-center px-16 mt-5 h-16"
>
  <!-- <div -->
  <!--   class="text-4xl text-orange-400 hover:text-white hover:drop-shadow transition duration-300 ease-out cursor-pointer" -->
  <!-- > -->
  <!--   vitor.ws -->
  <!-- </div> -->
  <div class="flex items-center gap-x-8">
    <nav class="h-full">
      <ul
        class="flex cursor-pointer text-orange-400 gap-x-4 h-full items-center"
      >
        <!-- <li -->
        <!--   class="min-w-20 hover:text-white text-center hover:drop-shadow transition duration-300 ease-out" -->
        <!-- > -->
        <!--   portifolio -->
        <!-- </li> -->
        <li
          class="min-w-20 hover:text-white text-center hover:drop-shadow transition duration-300 ease-out"
        >
          home
        </li>
        <li
          class="min-w-20 hover:text-white text-center hover:drop-shadow transition duration-300 ease-out"
        >
          <a href="#blog">blog</a>
        </li>
        <li
          class="min-w-20 hover:text-white text-center hover:drop-shadow transition duration-300 ease-out"
        >
          contact
        </li>
      </ul>
    </nav>

    <svg
      onclick="toggleTheme()"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      class="dark:stroke-white dark:hover:stroke-orange-400 w-8 h-8 stroke-orange-400 cursor-pointer drop-shadow hover:stroke-white rounded-lg transition duration-300 ease-out"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
      />
    </svg>
  </div>
</header>
