<section class="flex flex-col items-center dark:text-white px-8">
  <h1 class="text-3xl font-bold m-8">Hi, I'm Vitor de Oliveira 🦀</h1>
  <p class="text-lg text-center">
    I'm a Full Stack Software Engineer at Volkswagen AG based in Hannover,
    Germany.
    <br />
    <br />
    While my main professional expertise lies in JavaScript and related
    technologies like TypeScript, React, and Node.js, I'm also a passionate Rust
    developer, affectionately known as a "Rustacean" 🦀.
    <br />
    <br />

    Driven by this passion for Rust alongside my extensive experience in web
    development, this blog aims to empower aspiring developers with practical
    knowledge and insights, guiding them through the process of building web
    applications in the Rust programming language.
    <br />
    <br />
    Through sharing my personal journey and learnings, I hope to pay it forward
    and create a welcoming space where individuals, like myself, can discover
    the joys and potential of Rust development.
  </p>
</section>
