<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    {% block head %}{% endblock %}
  </head>
  <body class="bg-slate-200">
    {% block header %}
    <div id="content">
      <header
        class="mx-auto flex text-xl bg-orange-200 text-white font-semibold items-center justify-between px-24 h-16"
      >
        <div class="text-4xl text-orange-400 hover:text-white cursor-pointer">
          vitor.ws
        </div>
        <nav class="h-full">
          <ul
            class="flex cursor-pointer text-orange-400 gap-x-20 h-full items-center"
          >
            <li class="min-w-20 hover:text-white text-center">portifolio</li>
            <li class="min-w-20 hover:text-white text-center">blog</li>
            <li class="min-w-20 hover:text-white text-center">resume</li>
          </ul>
        </nav>
        <button
          class="transition duration-700 ease-out shadow-lg bg-orange-400 rounded-lg p-2 hover:text-orange-400 hover:bg-white"
        >
          contact
        </button>
      </header>
      {% endblock %} {% block content %}
      <p>Placeholder content</p>
      {% endblock %}
    </div>
  </body>
</html>
