<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Build Rust web apps! A Full Stack Engineer shares practical knowledge & insights to guide aspiring developers."/>
    {% block head %}{% endblock %}
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/theme.js"></script>
    <link href="/assets/output.css" rel="stylesheet">
  </head>
  <body class="overflow-x-hidden bg-orange-50 font-mono dark:bg-sky-950 text-sky-950">
    <div id="content" class="max-w-4xl mx-auto min-h-screen h-1">
      {% block header %}
      {% include "header.html" %}
      {% endblock %} 

      <main id="main" class="min-h-full relative pb-32">
        {% block main %}

        {% include "intro.html" %}

        {% include "blogposts.html" %}

        {% endblock %}

        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
